$font-size:(
    xxxs:12px,
    xxs:16px,
    xs:18px,
    s:20px,
    sm:22px,
    m:24px,
    md:25px,
    l:30px,
    xl:40px,
    xxl:45px,
    xxxl:50px,
    ul:55px,
    uul:60px,
    uuul:75px,
    ml:80px,
    mml:85px,
    mmml:100px,
)